# .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tfplan outputs
*tfplan*

# credentials/various
aws.tf
example.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
